.header {
  background-color: #fff;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  width: 100%;
}

.header__logo {
  width: 94px;
  height: 26px;
  object-fit: contain;
}

@media screen and (max-width: 320px) {
  .header {
    width: 100vw;
    height: 46px;
    padding: 0;
  }

  .header__logo {
    margin: auto;
  }
}
